/*--------------------------------------------------------------
# Bootstrap
--------------------------------------------------------------*/
@import 'node_modules/bootstrap/scss/bootstrap-grid';

/* Generic
--------------------------------------------- */
@import "generic/normalize";
@import "generic/box-sizing";

/* Abstracts
--------------------------------------------- */
// Import variables and mixins.
@import "abstracts/abstracts";

/* Base
--------------------------------------------- */
@import "base/elements/body";
@import "base/typography/headings";
@import "base/typography/copy";
@import "base/elements/links";
@import "base/elements/lists";
@import "base/elements/media";
@import "base/elements/sections";
@import "base/elements/icons";
@import "base/elements/buttons";

/* Layout
--------------------------------------------- */
@import "layout/navigation";
@import "layout/footer";

/* Sections
--------------------------------------------- */
@import "sections/hero";
@import "sections/about-me";
@import "sections/skills";
@import "sections/projects";
@import "sections/contact";
