/*--------------------------------------------------------------
# Bootstrap
--------------------------------------------------------------*/
@import 'node_modules/bootstrap/scss/bootstrap-grid';

/* Generic
--------------------------------------------- */
@import "generic/normalize";
@import "generic/box-sizing";

/* Abstracts
--------------------------------------------- */
// Import variables and mixins.
@import "abstracts/abstracts";

/* Base
--------------------------------------------- */
@import "base/base";

/* Layout
--------------------------------------------- */
@import "layouts/header";
@import "layouts/footer";
@import "layouts/main";

/* Sections
--------------------------------------------- */
@import "sections/hero";
@import "sections/skills";
@import "sections/projects";
@import "sections/contact";
