h1, h2, h3, h4, h5 {
	margin: 3rem 0 1.38rem;
	font-family: $font__main;
	font-weight: 600;
	line-height: 1.3;
}
  
h1 {
	margin-top: 0;
	font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small {
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 500;
	color: $color__light-blue;
	padding: 0 5px 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 4px solid $color__light-blue;
}

@media screen and (max-width: 991px) {
	h1 {font-size: 3.156rem;}

	h2{font-size: 2.367rem;}

	h3 {font-size: 1.618rem;}
}

@media screen and (max-width: 425px) {
	h1 {font-size: 2.3rem;}

	h2{font-size: 1.736rem;}

	h3 {font-size: 1.302rem;}
}
