h1, h2, h3, h4, h5 {
	margin: 3rem 0 1.38rem;
	font-weight: 600;
	line-height: 1.3;
}
  
h1 {
	margin-top: 0;
	@include get_rem_font_size($font__size-h1)
}

h2 {@include get_rem_font_size($font__size-h2)}

h3 {@include get_rem_font_size($font__size-h3)}

h4 {@include get_rem_font_size($font__size-h4)}

h5 {@include get_rem_font_size($font__size-h5)}

small {
	display: inline-block;
	@include get_rem_font_size($font__size-small);
	font-weight: 600;
	color: $color__brand-blue;
	padding: 0 5px 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 4px solid $color__brand-blue;
}

@media screen and (min-width: $screen__large) {
	h1 {@include get_rem_font_size($font__size-h1-large)}

	h2 {@include get_rem_font_size($font__size-h2-large)}

	h3 {@include get_rem_font_size($font__size-h3-large)}

	h4 {@include get_rem_font_size($font__size-h4-large)}

	h5 {@include get_rem_font_size($font__size-h5-large)}

	small {@include get_rem_font_size($font__size-small-large)}
}
