---
import styles from './About.module.scss';
---

<section class={styles.about} id="about">
  <p class="section-overline">Get to know me</p>
  <h2 class={styles.heading}>About</h2>
  <div class={styles.content}>
    <p>
      I'm a web developer based near London, UK, with over 5 years of experience
      creating tailored web solutions. My work spans from custom WordPress
      themes to integrating APIs for large ecommerce stores.
    </p>
    <p>
      Throughout my freelance career, I've developed bespoke websites for small
      businesses and individuals across the UK, particularly in service-based
      industries. I leverage WordPress to enable clients to manage content
      independently, regardless of technical expertise. Currently, I collaborate
      with a UK-based materials company, where I implement features for their
      Magento e-commerce platform, perform maintenance and bug fixes, and
      develop web applications.
    </p>
    <p>
      I'm reliable, punctual, and communicative. I maintain current industry
      knowledge and continuously improve my technical abilities to deliver
      quality results. I offer services from innovative solutions to streamline
      operations to custom approaches for enhancing digital presence.
    </p>
  </div>
</section>
