@use '../styles/breakpoints' as *;

.content {
  max-width: 65ch;

  p {
    font-size: var(--font-size-base);
    line-height: var(--line-height-relaxed);
    color: var(--color-text);
    margin-bottom: var(--spacing-lg);
  }

  p:last-child {
    margin-bottom: 0;
  }
}
