---
import styles from './Contact.module.scss';
---

<section class="section" id="contact">
  <h2 class="section-heading">Say hello</h2>
  <p class={styles.intro}>
    I'm always interested in hearing about new projects and opportunities. Feel
    free to reach out via email or connect with me on social media.
  </p>
</section>

<footer class={styles.footer}>
  <p class={styles.copyright}>
    Handcrafted with Astro and Sass. Deployed on Vercel. Typeset in IBM Plex
    Sans.
  </p>
</footer>
