---
import styles from './Footer.module.scss';
---

<footer class={styles.footer}>
  <p class={styles.text}>
    Handcrafted with Astro and Sass. Deployed on Vercel. Typeset in IBM Plex
    Sans.
  </p>
</footer>
