@use '../styles/breakpoints' as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-xl);

  [data-hidden] {
    display: none;
  }
}

@include tablet {
  .grid {
    gap: var(--spacing-lg);
  }
}

.showMoreWrapper {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-xl);
}
