.btn-scroll-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background-color: $color__light-blue;
	border: none;
	border-radius: 50%;
	padding: 0;
	opacity: 0;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	transition: opacity 0.5s;
	cursor: pointer;

	&.fadein {
		opacity: .8;
	}

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
	}
}

@media screen and (max-width: 991px) { 
	.btn-scroll-top {
		display: block;
	}
}