.icon {
	display: inline-block;
	padding: 10px;
	background-color: $color__light-navy;
	border-radius: 5px;
	transition: box-shadow .2s;

	&.icon--dark {
		background-color: $color__dark-navy;
	}

	img {
		width: 25px;
		vertical-align: middle;
	}

	&:hover {
		box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); 
	}
}