section {
	padding: 100px 0;

	.heading {
		h2 {
			margin-top: 1rem;
		}
	}

	.section-container {
		background-color: $color__light-navy;
		padding: 40px;
		border-radius: 5px;

		&.section-container--skills {
			padding-bottom: 0;
		}

		&.section-container--project:not(:last-child),
		&.section-container--contact {
			margin-bottom: 40px;
		}
	}
}

@media screen and (max-width: 768px) {
	section {
		padding: 60px 0;

		.section-container {
			padding: 20px;

			&.section-container--skills {
				padding-top: 40px;
			}

			&.section-container--project:not(:last-child),
			&.section-container--contact {
				margin-bottom: 20px;
			}
		}
	}
}