section {
	padding: 6.25rem 0;

	.heading {
		h2 {
			margin-top: 1rem;
		}
	}

	.section-container {
		background-color: #fff;
		padding: 2.5rem;
		border-radius: 5px;
		box-shadow: 0 3px 15px 0 rgba(0,0,0,0.2);

		&.section-container--skills {
			padding-bottom: 0;
		}

		&.section-container--project:not(:last-child),
		&.section-container--contact {
			margin-bottom: 2.5rem;
		}
	}
}

@media screen and (max-width: 768px) {
	section {
		padding: 3.75rem 0;

		.section-container {
			padding: 1.25rem;

			&.section-container--skills {
				padding-top: 2.5rem;
			}

			&.section-container--project:not(:last-child),
			&.section-container--contact {
				margin-bottom: 1.25rem;
			}
		}
	}
}