@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

$font__main: 'Raleway', sans-serif;

$font-size__h1: 67.34;
$font-size__h2: 50.52;
$font-size__h3: 37.90;
$font-size__h4: 28.43;
$font-size__h5: 21.33;
