.skills__list {
	display: flex;
	flex-wrap: wrap;

	.skill-item {
		text-align: center;
		flex: 1 20%;
		padding: 0 5px;
		margin-bottom: 60px;
		font-weight: 500;

		img {
			height: 40px;
		}

		span {
			display: block;
			margin-top: 10px;
		}
	}
}

@media screen and (max-width: 768px) {
	.skills__list {
		.skill-item {
			flex-basis: 30%;
		}
	}
}